# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
dist/
build/
out/

# Env
.env
.env.*
!.env.example

# Prisma
prisma/generated/
*.db-journal

# Logs
logs/
*.log
logs/*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Docker
data/
docker-data/
docker-compose.override.yml

# TypeScript
*.tsbuildinfo
